{% extends 'base.navigation.html.twig' %}

{% block content %}
<h1 class="page-header">{{ trait.name }}</h1>
<h4 class="page-header">Definition</h4>
<div class="row">
    <div class='col-xs-8'>
        {{trait.description}}
        {% if trait.ontology_url == "" %}
            {% if trait.description == "" %}
                No definition available
            {% endif %}
        {% else %}
            <a class='trait-link' href='{{ trait.ontology_url }}' target='_blank'>Go to definition</a>
        {% endif %}
    </div>
    <div class="col-xs-4">
        <div class="panel panel-trait">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-leaf fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ trait.number_of_organisms }}</div>
                        <div>Organisms</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('organism_by_trait', {'trait_type_id': trait.trait_type_id, 'dbversion': dbversion}) }}">
                <div class="panel-footer info-trait">
                    <span class="pull-left">View all organisms with this trait</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<h4 class="page-header">Data</h4>
<div class='row'>
    {% if trait.trait_format == 'categorical_free' %}
        <div class='col-xs-12'>
            <div id='pieChart'></div>
            <script>drawPieChart({{ trait.values|json_encode()|raw }});</script>
        </div>
    {% elseif trait.trait_format == 'numerical' %}
        <div class='col-xs-12'>
            <div id='histogram'></div>
            <script>drawHistogram({{ trait.values|json_encode()|raw }});</script>
        </div>
    {% else %}
        <div class='col-xs-12'>
            <h1>Unknown trait type</h1>
        </div>
    {% endif %}
</div>
{% endblock %}