{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% include 'googleAnalytics/code.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'components/base.navigation.dbversion.html.twig' %}
{% endblock %}

{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-static-top navbar-custom" role="navigation">
            <div class="navbar-header">
                <span class="icon-fennec" style="font-size: 35px"></span>
                <font class="navbar-custom">Fennec {{ fennec_version }} </font>
            </div>
                    <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <font style="margin-right: 5px; font-size: 16px;">version: </font>

                <select class="selectpicker" id="dbVersionPicker">
                    {% for dbversion in dbversions.connections|keys %}
                        <option data-icon="glyphicon-tag" value="{{ dbversion }}" > {{ dbversion }} </option>
                    {% endfor %}
                </select>

                <li class="dropdown">
                    <a class="dropdown-toggle navbar-custom navbar-icon-custom" data-toggle="dropdown" href="#" style="background-color: transparent;">
                        <i class="fa fa-question-circle"></i> help <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="https://fennec.readthedocs.io/en/latest/"><i class="fa fa-book"></i> Manual</a></li>
                        <li><a href="{{ path('contact', {'dbversion': dbversion}) }}"><i class="fa fa-envelope"></i> Contact</a></li>
                    </ul>
                    <!-- /.dropdown-help -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle navbar-custom navbar-icon-custom" data-toggle="dropdown" href="#" style="background-color: transparent;">
                        <i class="fa fa-user fa-fw"></i>
                        {{ app.user.username | default('login') }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-pencil-square-o fa-fw"></i> Register</a></li>
                        {%  endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <!-- Sidebar for navigation -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="sidebar-panel {{ type }}-link" href="{{ path('startpage', {'dbversion': dbversion}) }}"><i class="fa fa-home fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="{{ path('project_overview', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-book fa-fw"></i> Projects</a>
                        </li>
                        <li>
                            <a href="{{ path('organism_search', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-leaf fa-fw"></i> Organisms</a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-panel {{ type }}-link"><i class="fa fa-globe fa-fw"></i> Traits<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('trait_overview', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-eye fa-fw sidebar-{{ type }}"></i> Overview</a>
                                </li>
                                <li>
                                    <a href="{{ path('trait_search', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-search fa-fw sidebar-{{ type }}"></i> Search</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% include 'googleAnalytics/info.html.twig' %}
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
        <div id="page-wrapper">
            {% if title is defined %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="page-header" id="page-title">{{ title }} </h1>
                </div>
            </div>
            {% endif %}
            <div id="global-message-area"></div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'googleAnalytics/dialog.html.twig' %}
{% endblock %}
