<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fennec{% endblock %}</title>
        {% block stylesheets %}
            {# Global styles bundled with webpack #}
            <link rel="stylesheet" href="{{ asset('assets/js/global.css') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
            {# icon font via fontastic.me #}
            <link rel="stylesheet" href="{{ asset('assets/css/fennec-font.css') }}">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="globals" style="display:none" data-dbversion="{{ dbversion }}"></div>
        {% block jsglobals %}
            <script type="text/javascript">
                var dbversion = '{{ dbversion }}';
            </script>
        {% endblock %}
        {% block javascripts %}
            {# Global dependencies bundled with webpack #}
            <script src="{{ asset('assets/js/manifest.js') }}"></script>
            <script src="{{ asset('assets/js/global.js') }}"></script>
            {# FOSJsRoutingBundle #}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            {# MathJax #}
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
                });
            </script>
            <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
            <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
