{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'components/base.navigation.dbversion.html.twig' %}
{% endblock %}

{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-static-top navbar-{{ type }}" role="navigation">
            <div class="navbar-header">
                <font class="navbar-brand navbar-{{ type }}">Fennec {{ fennec_version }} </font>
                <span class="icon-fennec" style="font-size: 35px"></span>
            </div>
                    <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <font style="margin-right: 5px; font-size: 16px;">version: </font>
                <select class="selectpicker" id="dbVersionPicker">
                    {% for dbversion in dbversions.connections|keys %}
                    <option data-icon="glyphicon-tag" value="{{ dbversion }}" > {{ dbversion }} </option>
                    {% endfor %}
                </select>

                <li class="dropdown">
                    <a class="dropdown-toggle navbar-{{ type }} navbar-icon-{{ type }}" data-toggle="dropdown" href="#" style="background-color: transparent;">
                        <i class="fa fa-question-circle"></i> help <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-book"></i> Manual</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-help -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle navbar-{{ type }} navbar-icon-{{ type }}" data-toggle="dropdown" href="#" style="background-color: transparent;">
                        <i class="fa fa-user fa-fw"></i>
                        {{ app.user.username | default('login') }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if app.user %}
                            <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('github_login') }}"><i class="fa fa-github fa-fw"></i> Login with GitHub</a></li>
                            <li><a href="{{ path('google_login') }}"><i class="fa fa-google fa-fw"></i> Login with Google</a></li>
                        {%  endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <!-- Sidebar for navigation -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="sidebar-panel {{ type }}-link" href="{{ path('startpage', {'dbversion': dbversion}) }}"><i class="fa fa-home fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="{{ path('project_overview', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-book fa-fw"></i> Projects</a>
                        </li>
                        <li>
                            <a href="{{ path('organism_search', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-paw fa-fw"></i> Organisms</a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-panel {{ type }}-link"><i class="fa fa-globe fa-fw"></i> Traits<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('trait_overview', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-eye fa-fw sidebar-{{ type }}"></i> Overview</a>
                                </li>
                                <li>
                                    <a href="{{ path('trait_search', {'dbversion': dbversion}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-search fa-fw sidebar-{{ type }}"></i> Search</a>
                                </li>
                                <li>
                                    <a href="{{ path('trait_browse', {'dbversion': dbversion, 'search_level': 'overview'}) }}" class="sidebar-panel {{ type }}-link"><i class="fa fa-binoculars fa-fw sidebar-{{ type }}"></i> Browse</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
        <div id="page-wrapper">
            {% if title is defined %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="page-header">{{ title }} </h1>
                </div>
            </div>
            {% endif %}
            <div id="global-message-area"></div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
