<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fennec{% endblock %}</title>
        {% block stylesheets %}
            {# Global styles bundled with webpack #}
            <link rel="stylesheet" href="{{ asset('assets/js/global.css') }}" />
            {# icon font via fontastic.me #}
            <link rel="stylesheet" href="{{ asset('assets/css/fennec-font.css') }}">
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        <div id="globals" style="display:none" data-dbversion="{{ dbversion }}"></div>
        {% block jsglobals %}
            <script type="text/javascript">
                var dbversion = '{{ dbversion }}';
            </script>
        {% endblock %}
        {% block javascripts %}
            {# Global dependencies bundled with webpack #}
            <script src="{{ asset('assets/js/manifest.js') }}"></script>
            <script src="{{ asset('assets/js/global.js') }}"></script>
            {# FOSJsRoutingBundle #}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            {# datatable #}
            <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>
            {# datatable-buttons #}
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
            {# bootstrap confirmation #}
            <script src="{{ asset('assets/vendor/bs-confirmation/bootstrap-confirmation.min.js') }}"></script>
            
            {# filesaver #}
            <script src="{{ asset('assets/vendor/file-saver/FileSaver.min.js') }}"></script>

            {# papaparse #}
            <script src="{{ asset('assets/vendor/papaparse/papaparse.min.js') }}"></script>

            {# MathJax #}
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
                });
            </script>
            <script type="text/javascript" async src="{{ asset('assets/vendor/MathJax/MathJax.js') }}?config=TeX-AMS_CHTML"></script>

        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
