{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-header" id="page-title">Register to Fennec </h1>
    </div>
</div>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="row" style="margin: 10px;">
        <div class="col-xs-12">
            <div>
                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </div>
    </div>
{{ form_end(form) }}
