{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-header" id="page-title"> Login to Fennec </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ 'security.login.username'|trans }}</span>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" aria-describedby="basic-addon1" required="required" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ 'security.login.password'|trans }}&nbsp</span>
                <input type="password" id="password" name="_password" class="form-control" aria-describedby="basic-addon1" required="required" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-6">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-6">
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </div>

</form>