{% extends 'base.navigation.html.twig' %}
{#call_webservice path="details/Projects" data=["ids"=>[$internal_project_id], "dbversion"=>$DbVersion] assign='data'#}
{% block content %}
    {% if project.error is defined %}
        <h3>Error: {{ project.error }}</h3>
    {% elseif project.projects < 1 %}
        <h3>Error: This project could not be found for the current user.</h3>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Project overview</h3>
            </div>
            <table id="project-overview-table" class="table">
                <tbody>
                    <tr><th scope="row">ID</th><td id="project-overview-table-id"></td></tr>
                    <tr><th scope="row">Comment</th><td id="project-overview-table-comment"></td></tr>
                    <tr><th scope="row">#OTUs</th><td id="project-overview-table-rows"></td></tr>
                    <tr><th scope="row">#Samples</th><td id="project-overview-table-cols"></td></tr>
                    <tr><th scope="row">NNZ</th><td id="project-overview-table-nnz"></td></tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Explore</h3>
            </div>
            <button class='btn' id="inspect-with-blackbird-button">Inspect with Blackbird</button>
            <i data-toggle="tooltip" title="This is an experimental integration of Blackbird (see blackbird.iimog.org)." class="fa fa-question-circle"></i><br>
        </div>
        <div style="height: 100%"><iframe id='inspect-with-blackbird-iframe' width="100%" height="100%" style="border: none; display: none"></iframe></div>
        <script src="{{ asset('assets/Blackbird/lib/db.js') }}"></script>
        <script type="text/javascript">
            var Biom = require('biojs-io-biom').Biom;
            var biomString = '{{ project['projects'][internal_project_id]['biom']|raw }}';
            var biomObject = JSON.parse(biomString);
            var organism_ids = biomObject.rows.filter(function (element) {
                return typeof element['metadata'] !== 'undefined' && element['metadata'] !== null && !isNaN(element['metadata']['fennec_organism_id']);
            }).map(function(element) {
                return element['metadata']['fennec_organism_id'];
            });
            var biom = new Biom(biomObject);
            $('#project-overview-table-id').text(biom.id);
            $('.page-header').text(biom.id);
            $('#project-overview-table-comment').text(biom.comment);
            $('#project-overview-table-rows').text(biom.shape[0]);
            $('#project-overview-table-cols').text(biom.shape[1]);
            $('#project-overview-table-nnz').text(biom.nnz);
            var otuTableData = getOtuTable(biom, 100);
            $('#projectDetails_otuTable').DataTable({
                data: otuTableData.data,
                columns: otuTableData.columns,
                deferRender: true,
                scrollX: true
            });
            $('#inspect-with-blackbird-button').click(function(){
                db.open({
                    server: "BiomData",
                    version: 1,
                    schema: {
                        "biom": {
                            key: {
                                keyPath: 'id',
                                autoIncrement: true
                            }
                        }
                    }
                }).done(function(server) {
                    biomToStore = {};
                    biomToStore.name = biomObject.id;
                    if(!biomObject.columns[0].hasOwnProperty('metadata') ||
                            biomObject.columns[0].metadata === null ||
                            !biomObject.columns[0].metadata.hasOwnProperty('phinchID')){
                        for(i=0; i<biomObject.columns.length; i++){
                            if(!biomObject.columns[i].hasOwnProperty('metadata') || biomObject.columns[i].metadata === null){
                                biomObject.columns[i].metadata = [];
                            }
                            biomObject.columns[i].metadata.phinchID = i;
                        }
                        biomString = JSON.stringify(biomObject);
                    }
                    biomToStore.size = biomString.length;
                    biomToStore.data = biomString;
                    d = new Date();
                    biomToStore.date = d.getUTCFullYear() + "-" + (d.getUTCMonth() + 1) + "-" + d.getUTCDate() + "T" + d.getUTCHours() + ":" + d.getUTCMinutes() + ":" + d.getUTCSeconds() + " UTC";
                    server.biom.add(biomToStore).done(function(item) {
                        $('#inspect-with-blackbird-iframe').attr('src','{{ asset('assets/Blackbird/preview.html') }}');
                        $('#inspect-with-blackbird-iframe').show();
                    });
                });
            });

            $('#inspect-with-blackbird-iframe').on("load", function(){
                setTimeout(function(){
                    console.log($('#inspect-with-blackbird-iframe').contents().height());
                    $('#inspect-with-blackbird-iframe').attr('height', $('#inspect-with-blackbird-iframe').contents().height()+20);
                }, 1000);
            });
        </script>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Traits</h3>
            </div>
            <table id="trait-table" class="table trait-table trait-table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr><th>trait</th><th>count</th><th>range</th><th>actions</th></tr>
                </thead>
            </table>
            <script type="text/javascript">
                var traits = [];
                $.ajax( '{{ path('api', {'namespace': 'details', 'classname': 'traitsOfOrganisms'}) }}', {
                    data: {
                        "dbversion": '{{ dbversion }}',
                        "organism_ids": organism_ids
                    },
                    method: "POST",
                    success: function(data){
                        $.each(data, function(key, value) {
                            var thisTrait = {
                                id: key,
                                trait: value['trait_type'],
                                count: value['trait_entry_ids'].length,
                                range: 100*value['organism_ids'].length/organism_ids.length
                            };
                            traits.push(thisTrait);
                        });
                        initTraitsOfProjectTable({{ internal_project_id }});
                    }
                });
                function initTraitsOfProjectTable(internal_project_id){
                    $('#trait-table').DataTable( {
                        data: traits,
                        columns: [
                            { data: 'trait' },
                            { data: 'count' },
                            { data: 'range' },
                            { data: null }
                        ],
                        order: [ 2, "desc" ],
                        columnDefs: [
                            {
                                targets: 2,
                                render: function (data, type, full, meta) {
                                    return '<span title="'+data/100+'"></span><div class="progress"><div class="progress-bar progress-bar-trait" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: '+data+'%">'+Math.round(data)+'%</div></div>';
                                },
                                type: 'title-numeric'
                            },
                            {
                                targets: 0,
                                render: function (data, type, full, meta) {
                                    var href = Routing.generate('trait_details', {'dbversion': '{{ dbversion}}', 'trait_type_id': full.id});
                                    return '<a href="'+href+'">'+full.trait+'</a>';
                                }
                            },
                            {
                                targets: 3,
                                render: function(data, type, full, meta){
                                    var href = Routing.generate('project_trait_details', {'dbversion': '{{ dbversion}}', 'trait_type_id': full.id, 'project_id': '{{ internal_project_id}}' });
                                    return '<a href="'+href+'">Details</a>';
                                }
                            }
                        ]
                    });
                }
            </script>
        </div>
    {% endif %}
{% endblock %}