{% extends 'base.navigation.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var internalProjectId = '{{ internal_project_id }}';
        var phinchPreviewPath = '{{ asset('assets/Phinch/preview.html') }}';
        var permission = '{{ attribute }}';
    </script>
    
    <script src="{{ asset('assets/js/project/details.js') }}"></script>
{% endblock %}

{% block content %}
    {% if project.error is defined %}
        <h3>Error: {{ project.error }}</h3>
    {% elseif project.projects < 1 %}
        <h3>Error: This project could not be found for the current user.</h3>
    {% else %}
        <div
                id="project-data"
                style="display:none"
                data-internal-project-id="{{ internal_project_id }}"
                data-phinch-preview-path="{{ asset('assets/Phinch/preview.html') }}"
                data-biom-raw="{{ project['projects'][internal_project_id]['biom']|e('html_attr') }}"
                data-attribute="{{ attribute }}"
        ></div>
        <!-- Overview -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a class="project-link" href="#projectOverview" role="tab" data-toggle="tab">Project overview</a></li>
            <li role="presentation"><a class="project-link" href="#metadataOverview" role="tab" data-toggle="tab">Metadata overview</a></li>
            <li role="presentation"><a class="project-link" href="#inspect" role="tab" data-toggle="tab" id="inspect-with-phinch-tab">Inspect with Phinch</a></li>
            <li role="presentation"><a class="project-link" href="#traits" role="tab" data-toggle="tab">Traits</a></li>
            {% if (is_granted('edit', internal_project_id) or  is_granted('owner', internal_project_id)) %}
                <li role="presentation"><a class="project-link" href="#mapping" role="tab" data-toggle="tab">Mapping</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="projectOverview">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Project overview
                            {% if (is_granted('edit', internal_project_id) or  is_granted('owner', internal_project_id)) %}
                                <button type="button" class="btn btn-default fa fa-pencil" onclick="$('#editProjectDialog').modal()"></button>
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table id="project-overview-table" class="table">
                            <tbody>
                                <tr><th scope="row">ID</th><td id="project-overview-table-id"></td></tr>
                                <tr><th scope="row">Comment</th><td id="project-overview-table-comment"></td></tr>
                                <tr><th scope="row">#OTUs</th><td id="project-overview-table-rows"></td></tr>
                                <tr><th scope="row">#Samples</th><td id="project-overview-table-cols"></td></tr>
                                <tr><th scope="row">NNZ</th><td id="project-overview-table-nnz"></td></tr>
                                <tr><th scope="row">Import Date</th><td id="project-overview-table-import-date">{{ project['projects'][internal_project_id]['import_date'] | date('Y-m-d H:i:s') }}</td></tr>
                                <tr><th scope="row">Import Filename</th><td id="project-overview-table-import-filename">{{ project['projects'][internal_project_id]['import_filename'] }}</td></tr>
                                <tr><th scope="row">Export</th>
                                    <td id="project-overview-table-export">
                                        <button type="button" class="btn btn-primary" id="project-export-as-biom-v1">BIOM v1</button>
                                        <button type="button" class="btn btn-primary" id="project-export-as-biom-v2">BIOM v2</button>
                                        <button type="button" class="btn btn-primary" id="project-export-pseudo-tax-biom">tsv (pseudotax)</button>
                                        <button type="button" class="btn btn-primary" id="project-export-trait-citation-otus">tsv (trait citations OTUs)</button>
                                        <button type="button" class="btn btn-primary" id="project-export-trait-citation-samples">tsv (trait citations samples)</button>
                                    </td>
                                </tr>
                                {% if (is_granted('edit', internal_project_id) or  is_granted('owner', internal_project_id)) %}
                                     <tr><th scope="row">Edit</th>
                                        <td id="project-overview-table-edit">
                                            <button type="button" class="btn btn-primary" id="project-transpose">Transpose</button>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="metadataOverview">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Metadata overview
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table id="project-metadata-table" class="table">
                            <tbody>
                                <tr><th scope="row">Sample metadata</th><td><ul id="metadata-overview-sample"></ul></td></tr>
                                <tr><th scope="row">Observation metadata</th><td><ul id="metadata-overview-observation"></ul></td></tr>
                                <tr><th scope="row">Add sample metadata</th>
                                    <td id="project-metadata-table-add-sample">
                                        <form>
                                            <input class="btn" id="project-add-metadata-sample" type="file" name="files[]">
                                        </form>
                                    </td></tr>
                                <tr><th scope="row">Add observation metadata</th>
                                    <td id="project-metadata-table-add-observation">
                                        <form>
                                            <input class="btn" id="project-add-metadata-observation" type="file" name="files[]">
                                        </form>
                                    </td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Explore metadata tables
                        </h3>
                    </div>
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary" id="project-explore-sample-metadata">Explore Sample metadata</button>
                        <button type="button" class="btn btn-primary" id="project-explore-otu-metadata">Explore OTU metadata</button>
                        <div id='metadata-table-progress' align="center" style="display:none">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <table id="sample-metadata-table" class="table trait-table trait-table-striped table-bordered" width="100%" cellspacing="0"></table>
                        <table id="observation-metadata-table" class="table trait-table trait-table-striped table-bordered" width="100%" cellspacing="0"></table>
                    </div>
                </div>
            </div>

            <!-- Explore -->
            <div role="tabpanel" class="tab-pane" id="inspect">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        This is a modified version of Phinch. Source code for the <a href="https://github.com/PitchInteractiveInc/Phinch">original</a> and <a href="https://github.com/molbiodiv/Phinch/tree/non_taxonomy_metadata">modified</a> versions are available on GitHub.<br>
                        Please cite as: <i>Phinch: An interactive, exploratory data visualization framework for –Omic datasets. Holly M Bik, Pitch Interactive. bioRxiv 009944; <a href="https://doi.org/10.1101/009944">doi:10.1101/009944</a></i>.
                    </div>
                    <div class="panel-body">
                        <div style="height:100%"><iframe id='inspect-with-phinch-iframe' width="100%" height="100%" style="border: none;"></iframe></div>
                    </div>
                </div>
            </div>

            <!-- Traits -->
            <div role="tabpanel" class="tab-pane" id="traits">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">DB Traits</h3>
                    </div>
                    <div class="panel-body">
                        <h4>OTUs</h4>
                        <table id="trait-table" class="table trait-table trait-table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr><th>trait</th><th>count</th><th>coverage (absence/presence)</th><th>results</th><th>in biom</th><th>add to biom</th></tr>
                            </thead>
                        </table>
                        <h4>Samples</h4>
                        <table id="trait-table-sample" class="table trait-table trait-table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr><th>trait</th><th>count</th><th>coverage (absence/presence)</th><th>results</th><th>in biom</th><th>add to biom</th></tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            {% if (is_granted('edit', internal_project_id) or  is_granted('owner', internal_project_id)) %}
            <!-- Mapping -->
            <div role="tabpanel" class="tab-pane" id="mapping">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mapping</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <h4>Summary</h4>
                            <table id="mapping-table" class="table">
                                <tbody>
                                    <tr><td id="mapping-otu">1024</td><td>OTUs are mapped</td><td><div class="progress"><div id="progress-bar-mapping-otu" class="progress-bar-trait progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div></div></td></tr>
                                    <tr><td id="mapping-sample">33</td><td>Samples are mapped</td><td><div class="progress"><div id="progress-bar-mapping-sample" class="progress-bar-trait progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div></div></td></tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <h4>Actions</h4>
                            Map
                            <select class="selectpicker" id="mapping-dimension-select" data-style="btn-primary">
                                <option value="rows">OTUs</option>
                                <option value="columns">Samples</option>
                            </select>
                            by
                            <select class="selectpicker" id="mapping-metadata-sample-select" data-style="btn-primary"></select>
                            <select class="selectpicker" id="mapping-metadata-observation-select" data-style="btn-primary"></select>
                            on
                            <select class="selectpicker" id="mapping-method-select" data-style="btn-primary"></select>
                            <button class="btn btn-primary" id="mapping-action-button">GO</button>
                        </div>
                        <div id="mapping-action-busy-indicator" align="center" style="display: none">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div id="mapping-results-section" style="display: none">
                            <h4>Result</h4>
                            <div id="mapping-results"></div></br>
                            <button class="btn btn-primary" id="mapping-save-button">Save in database</button>
                            <button class="btn btn-primary" id="mapping-download-csv-button">Download csv</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>

        <!-- Edit Dialog -->
        <div class="modal fade" id="editProjectDialog" tabindex="-1" role="dialog" aria-labelledby="editProjectDialogLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="editProjectDialogLabel">Edit Project Info</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editProjectDialogProjectID">Project ID:</label>
                            <input type="text" class="form-control" id="editProjectDialogProjectID">
                        </div>
                        <div class="form-group">
                            <label for="editProjectDialogComment">Comment:</label>
                            <input type="text" class="form-control" id="editProjectDialogComment">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="editProjectDialogSaveButton">Save</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}