{% extends 'base.navigation.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% if organism.eol_identifier is defined %}
        <script type="text/javascript">
            var eol_id = {{ organism.eol_identifier }};
        </script>
    {% endif %}
    <script src="{{ asset('assets/js/organism/details.js') }}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">{{ organism.scientific_name }}</h1>
    <div class="col-md-12">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a class="organism-link" href="#overview" role="tab" data-toggle="tab">Overview</a></li>
                <li role="presentation"><a class="organism-link" href="#traits" role="tab" data-toggle="tab">Traits</a></li>
                <li role="presentation"><a class="organism-link" href="#taxonomy" role="tab" data-toggle="tab">Taxonomy</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="overview">
                    <div class="alert alert-success alert-dismissable" role="alert" style="margin-top: 10px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Content on this page is dynamically included from <a href="http://eol.org">EOL</a> via its <a href="http://eol.org/api">API</a>. <a href="http://eol.org/pages/{{ organism.eol_identifier }}">Visit full page at EOL for this organism (id {{ organism.eol_identifier }})</a>.
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div id='loading-progress' align="center">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <h2 id="vernacularName"></h2>
                    <div class="col-md-4" style="margin-top: 10px;" id="organism-img-column">
                    </div>
                    <div class="col-md-6">
                        <h4 id="title1"></h4>
                        <div id="txt1"></div>
                        <h4 id="title2"></h4>
                        <div id="txt2"></div>
                        <h4 id="title3"></h4>
                        <div id="txt3"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="traits">
                    <div class="btn btn-primary" id="toggleCitationButton">Show/Hide citations</div>
                    {% for tid, current in traits %}
                        <h4 class='page-header'>{{ current.trait_type }}</h4>
                    <div id="trait_{{ tid }}"></div>
                    <script type="text/javascript">
                        appendTraitEntries($('#trait_{{ tid }}'),[{{ current.trait_entry_ids|join(',') }}], '{{ current.trait_format }}');
                    </script>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="taxonomy">
                    {% for db, lineage in taxonomy %}
                        <h4 class="page-header">{{ db }}</h4>
                        {% for taxon in lineage %}
                            {{ taxon }}</br>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}